<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened class="w-60">
    <mat-toolbar color="primary">
      <span>{{ title }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/virtual-machines"
        routerLinkActive="mdc-list-item--activated"
      >
        <mat-icon matListItemIcon>computer</mat-icon>
        <span matListItemTitle>Virtual Machines</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-6">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
