<mat-sidenav-container class="h-full">
  <mat-sidenav mode="side" opened class="w-60">
    <mat-toolbar color="primary">
      <span>{{ title }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/clusters"
        routerLinkActive="mdc-list-item--activated"
      >
        <mat-icon matListItemIcon>hub</mat-icon>
        <span matListItemTitle>Clusters</span>
      </a>
      <a
        mat-list-item
        routerLink="/hosts"
        routerLinkActive="mdc-list-item--activated"
      >
        <mat-icon matListItemIcon>dns</mat-icon>
        <span matListItemTitle>Hosts</span>
      </a>
      <a
        mat-list-item
        routerLink="/virtual-machines"
        routerLinkActive="mdc-list-item--activated"
      >
        <mat-icon matListItemIcon>computer</mat-icon>
        <span matListItemTitle>Virtual Machines</span>
      </a>
      <div class="px-4 pt-4 pb-1 text-xs font-semibold text-gray-500 uppercase tracking-wider">
        Settings
      </div>
      <a
        mat-list-item
        routerLink="/credentials"
        routerLinkActive="mdc-list-item--activated"
        class="!pl-8"
      >
        <mat-icon matListItemIcon>lock</mat-icon>
        <span matListItemTitle>Credentials</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="p-6">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
